# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Sensitive files
api-key.txt

*.backup
cluster_config.yaml
kubectl
tfplan*